.LevelVE {
    width: 25%;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgb(82, 77, 71);
    text-shadow: 12px 12px 0 rgba(0, 0, 0, 0.41);
}

.LevelButtons {
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
    border-left-color: rgb(36, 29, 21);
    border-right-color: rgb(36, 29, 21);
    border-top-color: rgb(36, 29, 21);
    border-bottom-color: rgb(36, 29, 21);
    border-top-width: 0;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    background-color: rgb(29, 7, 24);
    color: rgba(27, 27, 27, 0);
}

.LevelButtons:hover {
    background-color: rgb(88, 50, 113);
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    scale: 1.03 1.03;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    color: rgb(29, 7, 24);
    font-size: 78px;
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgba(255, 255, 255, 0.53);
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Assets/Art/Fonts/adamwarrenpro.ttf?fileID=12800000&guid=098d1b32e22c13a49aa7ce762fef2292&type=3#adamwarrenpro");
    text-shadow: 12px 12px 0 rgba(0, 0, 0, 0.51);
}

.LevelButtons:active {
    background-color: rgb(53, 14, 44);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    border-left-color: rgb(36, 29, 21);
    border-right-color: rgb(36, 29, 21);
    border-top-color: rgb(36, 29, 21);
    border-bottom-color: rgb(36, 29, 21);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    scale: 1.01 1.01;
}

.MenuButtons {
    transition-duration: 0.15s;
    background-color: rgba(0, 0, 0, 0);
    font-size: 71px;
    -unity-font-definition: url("project://database/Assets/Art/Fonts/vinizinho.ttf?fileID=12800000&guid=04ddb951892d3f5419c041e0aa566efb&type=3#vinizinho");
    -unity-font-style: bold;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.MenuButtons:hover {
    color: rgb(152, 106, 183);
    transition-duration: 0.25s;
    scale: 1.1 1.1;
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgb(0, 0, 0);
}

.MenuButtons:active {
    width: 100%;
    height: 100%;
    transition-duration: 0.15s;
    scale: 1.01 1.01;
}

.LevelText {
    -unity-font-definition: url("project://database/Assets/Art/Fonts/adamwarrenpro.ttf?fileID=12800000&guid=098d1b32e22c13a49aa7ce762fef2292&type=3#adamwarrenpro");
    font-size: 39px;
    color: rgb(255, 255, 255);
    text-shadow: 12px 12px 0 rgba(0, 0, 0, 0.51);
    height: 50%;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
}

.LevelBestTime {
    -unity-font-definition: url("project://database/Assets/Art/Fonts/adamwarrenpro.ttf?fileID=12800000&guid=098d1b32e22c13a49aa7ce762fef2292&type=3#adamwarrenpro");
    color: rgb(202, 202, 202);
    font-size: 33px;
    height: 25%;
    -unity-font-style: bold;
    -unity-text-outline-width: 2px;
    -unity-text-outline-color: rgb(0, 0, 0);
    text-shadow: 12px 12px 0 rgba(0, 0, 0, 0.19);
}

.LevelButtonsFocus {
    background-color: rgb(88, 50, 113);
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    scale: 1.03 1.03;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    color: rgb(152, 106, 183);
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgb(0, 0, 0);
}

.SingleMultiFocus {
    background-color: rgb(88, 50, 113);
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    scale: 1.03 1.03;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    color: rgb(29, 7, 24);
    font-size: 78px;
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgba(255, 255, 255, 0.53);
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Assets/Art/Fonts/adamwarrenpro.ttf?fileID=12800000&guid=098d1b32e22c13a49aa7ce762fef2292&type=3#adamwarrenpro");
    text-shadow: 12px 12px 0 rgba(0, 0, 0, 0.51);
}

.HUD {
    -unity-font-definition: url("project://database/Assets/Art/Fonts/adamwarrenpro.ttf?fileID=12800000&guid=098d1b32e22c13a49aa7ce762fef2292&type=3#adamwarrenpro");
    font-size: 40px;
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-font-style: bold;
}

.HeadingText {
    -unity-font-definition: url("project://database/Assets/Art/Fonts/vinizinho.ttf?fileID=12800000&guid=04ddb951892d3f5419c041e0aa566efb&type=3#vinizinho");
    font-size: 89px;
    -unity-font-style: bold;
    -unity-text-align: upper-left;
}

.GeneralText {
    -unity-font-definition: url("project://database/Assets/Art/Fonts/vinizinho.ttf?fileID=12800000&guid=04ddb951892d3f5419c041e0aa566efb&type=3#vinizinho");
    font-size: 61px;
    -unity-font-style: normal;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0);
}

.CheckBox {
    width: 5%;
    height: auto;
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    padding-bottom: 4px;
}

.CheckBox #unity-checkmark {
    background-color: rgb(202, 202, 202);
    background-image: none;
    -unity-text-outline-width: 10px;
    -unity-text-outline-color: rgb(0, 0, 0);
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
}

.CheckBox .unity-toggle__input:checked #unity-checkmark {
    background-image: url("project://database/Assets/UI/UI%20Settings/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=7433338533053954386&guid=65ec1bbeee2320241b2270d7a3211da8&type=3#check@2x");
    -unity-background-image-tint-color: rgb(0, 0, 0);
}

.Slider {
}

.Slider #unity-drag-container {
    position: relative;
    margin-top: 0;
    width: 100%;
    height: 100%;
}

.Slider #unity-tracker {
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
    position: relative;
    margin-top: 0;
}

.Slider #unity-dragger {
    position: relative;
    margin-top: 0;
    height: 100%;
}

.VolumeSlider {
    width: 90%;
    height: 44px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.VolumeSlider #unity-drag-container {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-left-color: rgb(0, 241, 51);
    border-right-color: rgb(0, 241, 51);
    border-top-color: rgb(0, 241, 51);
    border-bottom-color: rgb(0, 241, 51);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.VolumeSlider #unity-tracker {
    flex-grow: 1;
    position: relative;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgb(178, 178, 178);
}

.VolumeSlider #unity-dragger {
    background-color: rgb(41, 41, 41);
    height: 100%;
    top: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 10px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.SettingsBlank {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
    height: 54px;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.SettingsFocused {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
    background-image: url("project://database/Assets/UI/UI%20Settings/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=-1087164816274819069&guid=65ec1bbeee2320241b2270d7a3211da8&type=3#arrow-right@2x");
    -unity-background-image-tint-color: rgb(0, 0, 0);
}
