.LevelVE {
    width: 25%;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgb(82, 77, 71);
    text-shadow: 12px 12px 0 rgba(0, 0, 0, 0.41);
}

.LevelButtons {
    background-color: rgb(82, 77, 71);
    transition-timing-function: ease-in-out;
    transition-duration: 0.15s;
    border-left-color: rgb(36, 29, 21);
    border-right-color: rgb(36, 29, 21);
    border-top-color: rgb(36, 29, 21);
    border-bottom-color: rgb(36, 29, 21);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
}

.LevelButtons:hover {
    background-color: rgb(48, 45, 41);
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    scale: 1.03 1.03;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

.LevelButtons:active {
    background-color: rgb(67, 63, 58);
    transition-timing-function: ease-in-out;
    transition-duration: 0.1s;
    border-left-color: rgb(36, 29, 21);
    border-right-color: rgb(36, 29, 21);
    border-top-color: rgb(36, 29, 21);
    border-bottom-color: rgb(36, 29, 21);
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px;
    scale: 1.01 1.01;
}

.MenuButtons {
    width: 100%;
    height: 100%;
    -unity-font-definition: url("project://database/Assets/Art/Fonts/Rocky%20TTF.ttf?fileID=12800000&guid=293ee172a9915444aa8fa83f802436dd&type=3#Rocky TTF");
    font-size: 47px;
    -unity-font-style: bold;
    color: rgb(82, 77, 71);
    transition-duration: 0.15s;
    text-shadow: 12px 12px 0 rgba(0, 0, 0, 0.13);
    background-color: rgba(0, 0, 0, 0);
}

.MenuButtons:hover {
    color: rgb(0, 0, 0);
    transition-duration: 0.25s;
    scale: 1.07 1.07;
}

.MenuButtons:active {
    width: 100%;
    height: 100%;
    -unity-font-definition: url("project://database/Assets/Art/Fonts/Rocky%20TTF.ttf?fileID=12800000&guid=293ee172a9915444aa8fa83f802436dd&type=3#Rocky TTF");
    font-size: 47px;
    -unity-font-style: bold;
    color: rgb(82, 77, 71);
    transition-duration: 0.15s;
    text-shadow: 12px 12px 0 rgba(0, 0, 0, 0.13);
    scale: 1.01 1.01;
}

.LevelText {
    -unity-font-definition: url("project://database/Assets/Art/Fonts/Rocky%20TTF.ttf?fileID=12800000&guid=293ee172a9915444aa8fa83f802436dd&type=3#Rocky TTF");
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 12px 12px 0 rgba(0, 0, 0, 0.51);
    height: 50%;
}

.LevelBestTime {
    -unity-font-definition: url("project://database/Assets/Art/Fonts/Rocky%20TTF.ttf?fileID=12800000&guid=293ee172a9915444aa8fa83f802436dd&type=3#Rocky TTF");
    color: rgb(202, 202, 202);
    font-size: 28px;
    height: 25%;
}
